<nav class="file">
    <ul>
        <li><a href="/allfiles" class="navFile active">All Files</a></li>
        <li><a href="/myfiles" class="navFile">My Files</a></li>
        <li><a href="/upload" class="navFile">Upload File</a></li>
    </ul>
</nav>