<%- include('partials/header'); -%>

    <%- include('partials/nav'); -%>
        <div class="fileDetail">
            <h3>OOPS, page not found :)</h3>
        </div>

        <%- include('partials/footer'); -%>