<%- include('partials/header'); -%>

    <header style="margin-top: 200px; margin-left: 100px;">
        <div class="smoothie">
            <img src="/fileShare.png" alt="">
        </div>
        <div class="headings">
            <h2>Secure File Sharing</h2>
            <h3>We are guarantee the security of your files.</h3>
            <a href="/allfiles" class="btn">View Files</a>
        </div>
    </header>


    <%- include('partials/footer'); -%>